{% extends 'base.html' %}
{% block content %}
<!-- This example requires Tailwind CSS v2.0+ -->

  <div class="mx-8 relative  pt-4 pb-10 px-4 sm:px-6 lg:pt-8 lg:pb-28 lg:px-8">
    <div class="absolute inset-4">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>
    <div class="relative max-w-7xl mx-auto">
      <div class="text-center">
        <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
          Create Bet Track
        </h2>
        <p class="mt-1 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
          Choose Sport: 
        </p>
        <form action="{% url 'add_track' %}" method="post">
        {% csrf_token %}
        <select name='sport'>
          <option value='MLB'>MLB</option>
          <option value='NHL'>NHL</option>
        </select>
        <button class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">CREATE</button>
        </form>
      </div>
    <section class="flex">
    {% for track in tracks %}
      <div class="mt-12 max-w-lg mx-auto grid gap-3 lg:grid-cols-1 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="lg:h-20 w-full object-cover" src="https://images-na.ssl-images-amazon.com/images/I/31lVMI998WL.jpg" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
                <p class="text-xl font-semibold text-gray-900">
                  Sport: {{track.sport}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Total Bet: {{track.total_bet}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                   Total Net Winnings: {{track.total_net}}
                </p>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
              <button id='createbet' >
                <a href="{% url 'bets_create'  %}">
                  <span class="sr-only">Create Bet A</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                 </svg>
              </div>
              <div class="ml-3">
                <p class="text-md font-medium text-gray-900">
                    Create Bet 
                </p>
                </a> 
              </button>
              </div>
            </div>
          </div>
        </div>    
      </div>

      {% comment %} BET Divs Start here {% endcomment %}
      {% for bet in bets %}
      <div class="mt-12 w-4/5 mx-auto grid gap-3 lg:grid-cols-1 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
                {% comment %} on button press, append track_id input here {% endcomment %}
                <p class="text-xl font-semibold text-gray-900">
                  Date: {{bet.date}}
                </p>
                <input type= value='start'>
                <p class="text-xl font-semibold text-gray-900">
                  Bet Type: {{bet.bet_type}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Home Team: {{bet.home_team}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Away Team: {{bet.away_team}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Bet Line: {{bet.betting_line}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Bet Amount: {{bet.bet_amount}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Won: {{bet.won}}
                </p>
            </div>
          <a href="{% url 'bet_update' bet.id %}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>  
          Edit
          </a>

          <a href="{% url 'bet_delete' bet.id %}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>Delete
          </a>
          </div>
      {% endfor %}


      {% endfor %}
      <div>
      
      </div>
    </section>
      
    </div>
  </div>

<script>
const createBet = document.getElementById('createbet')
createBet.addEventListener('click', handleClick)

function handleClick() {
  console.log('create bet pressed')
}

</script>


{% endblock %}
