{% extends 'base.html' %}
{% block content %}
<h1>Bet Track Form</h1>

{% comment %} Start Bet Track {% endcomment %}
{% for track in tracks %}
<div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="lg:h-20 w-full object-cover" src="https://images-na.ssl-images-amazon.com/images/I/31lVMI998WL.jpg" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
                <p class="text-xl font-semibold text-gray-900">
                  User: {{track.user}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Total Bet: {{track.total_bet}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                   Total Net Winnings: {{track.total_net}}
                </p>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="#">
                  <span class="sr-only">Create Bet A</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                 </svg>
                </a>
              </div>
              <div class="ml-3">
                <p class="text-md font-medium text-gray-900">
                  <a href="#" class="hover:underline">
                    Create Bet A
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>    
  </div>
  {% endfor %}
{% comment %} Start Adding Bets {% endcomment %}
    

{% endblock %}
