{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  
<div class='mb-4 flex justify-center'>
  {% if object %}
    <h1 class='mt-2 text-black text-3xl font-extrabold tracking-tight sm:text-4xl'>Edit 
  {% else %}
   
    <h1 class='mt-2 text-black text-3xl font-extrabold tracking-tight sm:text-4xl'>Create Bet</h1>
  {% endif %}
 </div>
  
  <div class='flex justify-center'>
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <div class='mt-4 flex justify-center'>
    
    <input type="submit" value="Create" class="flex justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md  text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
  
  </div>
  </form> 
  </div>
{% endblock %}