{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  
<div class='mb-4 flex justify-center'>
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
   
    <h1 class='mt-2 text-black text-3xl font-extrabold tracking-tight sm:text-4xl'>Create Bet</h1>
  {% endif %}
 </div>
  
  <div class='flex justify-center'>
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form> 
  </div>
{% endblock %}