{% block content %}
  
    
      <div class="mt-12 max-w-lg mx-auto grid gap-3 lg:grid-cols-1 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          {% csrf_token %}
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
                {% comment %} on button press, append track_id input here {% endcomment %}
                <p class="text-xl font-semibold text-gray-900">
                  Start: {{bet.start}}
                </p>
                <input type= value='start'>
                <p class="text-xl font-semibold text-gray-900">
                  Sport: {{bet.sport}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Home Team: {{bet.home_team}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Away Team: {{bet.away_team}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Bet Line: {{bet.betting_line}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Bet Amount: {{bet.bet_amount}}
                </p>
                <p class="text-xl font-semibold text-gray-900">
                  Won: {{bet.won}}
                </p>
          <input type="submit" value="Save" class="btn">
    {% endfor %}
{% endblock %}