{% extends 'base.html' %}

{% block content %}
   <h1 class="display-4" style="text-align: center;">MLB game betting lines</h1>
   <div class="grid-container">
       {%for event in events%}
           <div class="card grid-item" >
               <div class="card-body">
                    <center><h6 class="card-subtitle mb-2 text-muted">{{ event.place }}</h6></center> 
                   <center><h5 class="card-title">{{ event.teams }}</h5></center>
                   <center><h6 class="card-subtitle mb-2 text-muted">{{ event.time }}</h6></center>
                   <center>
                       <div class="btn-group">
                           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Moneylines
                           </button>
                           <div class="dropdown-menu">
                               {% for bet in event.bets.moneylines %}
                                   <a class="dropdown-item" href="#">{{ bet }}</a>
                               {% endfor %}
                           </div>
                       </div>
                       <div class="btn-group">
                           <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Spread lines
                           </button>
                           <div class="dropdown-menu">
                               {% for bet in event.bets.spreads %}
                                   <a class="dropdown-item" href="#">{{ bet }}</a>
                               {% endfor %}
                           </div>
                       </div>
                       <div class="btn-group">
                           <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Total lines
                           </button>
                           <div class="dropdown-menu">
                               {% for bet in event.bets.totals %}
                                   <a class="dropdown-item" href="#">{{ bet }}</a>
                               {% endfor %}
                           </div>
                       </div>
                   </center>
               </div>
           </div>
       {% endfor %}
   </div>
{% endblock %}













{% comment %} 

{% load static %}

{% block content %}
{% for event in events%}
<section class="w-3/4 mt-6 mx-auto">
  <ul class="space-y-3">
    <li class="bg-white shadow overflow-auto rounded-md px-6 py-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{event.teams.name}}
        </h3>
        <p class="text-xl font-semibold text-gray-900">
                  
        </p>
    </li>
  </ul>
</section>
    {% endfor %}

  


{% endblock %}  {% endcomment %}
